<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <filter>
        <filter-name>fltAdministrador</filter-name>
        <filter-class>filtro.FltAdministrador</filter-class>
    </filter>
    <filter>
        <filter-name>fltLoginAdministrador</filter-name>
        <filter-class>filtro.FltLoginAdministrador</filter-class>
    </filter>
    <filter>
        <filter-name>fltLoginAdvogado</filter-name>
        <filter-class>filtro.FltLoginAdvogado</filter-class>
    </filter>
    
    <filter>
        <filter-name>fltAdvogado</filter-name>
        <filter-class>filtro.FltAdvogado</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>fltAdministrador</filter-name>
        <url-pattern>/Administrador/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>fltLoginAdministrador</filter-name>
        <url-pattern>/loginAdmin.xhtml</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>fltAdvogado</filter-name>
        <url-pattern>/Advogado/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>fltLoginAdvogado</filter-name>
        <url-pattern>/loginAdvog.xhtml</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3233000
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>pepper-grinder</param-value>
    </context-param>
</web-app>
